.toolbar__container {
  position: relative;
  width: 100%;
  height: 7.5rem;
}


.toolbar__logo {
  max-height: 5rem;
  min-width: 7.75rem;
  max-width: 7.75rem;
  width: auto;
}
.toolbar__logo img {
  width: 100%;
  height: 100%;
  max-height: 5rem;
  -o-object-fit: contain;
  object-fit: contain;
}.toolbar__switcher {
  width: 4.5rem;
  min-width: 4.5rem;
}.toolbar__switcher .toolbar__switcher__item--active {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}.toolbar__switcher .toolbar__switcher__item {
  display: inline-block;
  width: auto;
  padding: .25rem .5rem;
  border-radius: .25rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: .75rem;
  text-align: left;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  text-decoration: none;
  cursor: pointer;
}
.toolbar__switcher .toolbar__switcher__item {
  display: inline-block;
  width: auto;
  padding: .25rem .5rem;
  border-radius: .25rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: .75rem;
  text-align: left;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  text-decoration: none;
  cursor: pointer;
}.toolbar__section {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 1rem;
}.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}.flickity-enabled {
  position: relative;
}.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}.toolbar__section__box-shadow--left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: .5rem;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.35)));
  background: -webkit-linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%);
  background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%);
}.toolbar__section__box-shadow--right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: .5rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.35)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%);
}.toolbar__buttons {
  max-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
}.toolbar__buttons__join, .toolbar__buttons__create {
  max-height: calc(5rem - 1rem);
  min-width: calc(7.5rem - 1rem);
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  gap: .25rem;
  background-color: #fff;
  border-radius: .5rem;
  padding: .5rem .5rem;
  text-decoration: none;
  font-size: .75rem;
  font-weight: 700;
  color: #333;
  -webkit-transition: all .2s;
  transition: all .2s;
}.toolbar__buttons__join img, .toolbar__buttons__create img {
  width: 2.75rem;
  height: 2.75rem;
  margin-bottom: .125rem;
}.toolbar__buttons__join, .toolbar__buttons__create {
  max-height: calc(5rem - 1rem);
  min-width: calc(7.5rem - 1rem);
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  gap: .25rem;
  background-color: #fff;
  border-radius: .5rem;
  padding: .5rem .5rem;
  text-decoration: none;
  font-size: .75rem;
  font-weight: 700;
  color: #333;
  -webkit-transition: all .2s;
  transition: all .2s;
}.toolbar__buttons__join img, .toolbar__buttons__create img {
  width: 2.75rem;
  height: 2.75rem;
  margin-bottom: .125rem;
}.toolbar__buttons {
  max-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
}.toolbar__logo {
  max-height: 5rem;
  min-width: 7.75rem;
  max-width: 7.75rem;
  width: auto;
}.toolbar--active {
  visibility: visible;
  margin-top: 10px;
}.toolbar__logo img {
  width: 100%;
  height: 100%;
  max-height: 5rem;
  -o-object-fit: contain;
  object-fit: contain;
}.toolbar__switcher {
  width: 4.5rem;
  min-width: 4.5rem;
}.toolbar__section {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 1rem;
}.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}.flickity-enabled {
  position: relative;
}div {
  display: block;
  unicode-bidi: isolate;
}
.toolbar {
  display: flex;
 
  background-color: #46178F;
  padding: .75rem;
  border-radius: .5rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.15);
  width: calc(100% - 2.5rem);
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
   margin-top: 10px;
}